@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Change this ONE value to change the font weight app-wide */
  --font-weight-base: 400;
}

* {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-base);
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-white text-black dark:bg-black dark:text-white;
}
